.red
{
    height: 100px;
    width: 100px;
    background-color: red;
}
.yellow
{
    height: 100px;
    width: 100px;
    background-color: yellow;
}
.green
{
    height: 100px;
    width: 100px;
    background-color: green;
}
#heading
{
    background-color: gray;
}